* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9e6e6;
}

.main {
  display: block;
  background-color: #49cdcd;
  text-align: center;
  padding-bottom: 10%;
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 7%;
  box-sizing: #ebebeb;

  h1 {
    padding-top: 24px;
  }

  p {
    margin-top: 4%;
    font-weight: bolder;
  }

  button {
    width: 32%;
    padding-top: 2%;
    padding-bottom: 0.5%;
    border-radius: 8px;
    border-color: transparent;
    background-color: #000;
    color: #fff;
    margin-top: 7%;
  }
}

input#space {
  width: 59%;
  margin-top: 7%;
  padding-top: 2%;
  margin-bottom: 2%;
  border-radius: 8px;
  border-color: transparent;
}

ul {
  list-style: none;
  border: 1px black;
  color: #000;
  cursor: pointer;
  margin-top: 20px;
  width: 90px;
  margin-left: 35px;
  background-color: gainsboro;
}
